{% extends "base.html" %}if(this.properties.visible) 
		this.show();
	else 
		this.hide();{% load i18n %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block head %}<link rel="stylesheet" href="/static/account.css" />{% endblock %} 


{% block content %}
<div class="content">
    <fieldset class="gray-box">
        <legend>{% trans "Change password" %}</legend>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </fieldset>
</div>
{% endblock %}
