{% extends "base.html" %}if(this.properties.visible) 
		this.show();
	else 
		this.hide();{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block head %}<link rel="stylesheet" href="/static/account.css" />{% endblock %} 


{% block content %}
<div class="content">
	<fieldset class="gray-box">
	<legend>{% trans "Sign up" %}</legend>
	<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
		{% csrf_token %}
		{{ form.as_p }}
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<button class="btn btn-info" type="submit">{% trans "Sign Up" %} &raquo;</button>
	</form>
	</fieldset>
</div>


{% endblock %}


