<div class="ui top fixed menu grid" id='top-menu'>

    {% if 'left' in active_menus or 'middle-left' in active_menus or 'bottom-left' in active_menus %}
        <a class="ui item" id='sidebar-openerbtn'  data-transition="overlay" ><i class="sidebar icon large"></i></a>
    {% endif %}

    {% for menu in menu_plugins %}
        {% if menu.menu_place == 'top' %}
            {% if menu.submenus %}
                <div class="item ui simple dropdown">
                    <i class="ui {{ menu.icon }} icon"></i> {{ menu.label|safe }} <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item"  href="/app/{{ menu.uid }}/" >
                            <i class="ui {{ menu.icon }} icon"></i> {{ menu.label|safe }}
                        </a>
                        {% for submenu in menu.submenus %}
                            <a class="item"  href="/app/{{ submenu.uid }}/" >
                                {% if submenu.icon %}<i class="{{submenu.icon}} icon"></i>{% endif %}
                                {{ submenu.label|safe }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <a class="item" id="menu-{{ menu.anchor }}" href="/app/{{ menu.uid }}/" >
                    {% if menu.icon %}<i class="{{menu.icon}} icon"></i>{% endif %}
                    {{ menu.label|safe }}
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
    {% include "orquestra/header-authenticated.html" %}
    {% endif %}

</div>


<div style="padding-top: 42px;" ></div>

