<div class="ui secondary top fixed menu grid no-print" id='top-menu'>

    {% if 'left' in active_menus or 'middle-left' in active_menus or 'bottom-left' in active_menus %}
        <a class="item" id='sidebar-opener-btn' style="display: none" data-transition="overlay" >
            <i class="sidebar icon large"></i>
        </a>
    {% endif %}
    <div class="item"></div>

    {% for menu in menu_plugins %}
        {% if menu.menu_place == 'top' %}
            {% if menu.submenus %}
                <div class="item ui simple dropdown">
                    {% if menu.icon %}<i class="ui {{ menu.icon }} icon"></i>{% endif %}
                    {{ menu.label|safe }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if menu.uid %}
                        <a class="item {% if menu.active %}active{% endif %}"  href="/app/{{ menu.uid }}/" >
                            <i class="ui {{ menu.icon }} icon"></i>{{ menu.label|safe }}
                        </a>
                        {% endif %}
                        {% for submenu in menu.submenus %}
                            <a class="item {% if submenu.active %}active{% endif %}"  href="/app/{{ submenu.uid }}/" >
                                {% if submenu.icon %}<i class="{{submenu.icon}} icon"></i>{% endif %}
                                {{ submenu.label|safe }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <a class="item {% if menu.active %}active{% endif %}" id="menu-{{ menu.anchor }}" href="/app/{{ menu.uid }}/" >
                    {% if menu.icon %}<i class="{{menu.icon}} icon"></i>{% endif %}
                    {{ menu.label|safe }}
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
    {% include "orquestra/header-authenticated.html" %}
    {% endif %}

</div>


<div style="padding-top: 55px;" ></div>

