{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block fullcontent %}
{% get_providers as socialaccount_providers %}
<div class="ui middle aligned center aligned grid container">
  <div class="column">
    <div class="ui segment">
      {% if socialaccount_providers %}
      {% for provider in socialaccount_providers%}
      <a href="{% provider_login_url provider.id %}" class="ui fluid large {{ provider.id }} {% if provider.id == 'google' %}plus{% endif %} labeled icon button">
        <i class="{{ provider.id }} icon"></i>
        Sign in with {{ provider.name }}
      </a>
      {% endfor %}
      {% include "socialaccount/snippets/login_extra.html" %}
      <div class="ui section horizontal divider">Or</div>
      {% endif %}
      <form class="ui fluid large form {% if form.errors %}error{% endif %}" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="ui error message">
          {% for error in form.non_field_errors %}
          {# <i class="exclamation triangle icon"></i> #}
          <div class="content">
            {{ error }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% for field in form.visible_fields %}
        <div class="field">
          <div class="ui left icon input">
            {% if field.label == 'Username' %}
            <i class="user icon"></i>
            {% elif field.label == 'E-mail' %}
            <i class="mail icon"></i>
            {% elif field.label == 'Password' %}
            <i class="lock icon"></i>
            {% else %}
            <i class="question icon"></i>
            {% endif %}
            {{ field }}
          </div>
        </div>
        {% endfor %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="ui fluid large primary submit button" type="submit">{% trans "Sign In" %}</button>
      </form>
      <div class="ui divider"></div>
      <p>New to us? <a href="{% url 'account_signup' %}">Sign up here</a> instead.</p>
    </div>
    {% if form.non_field_errors %}
    <div class="ui warning message">
      <p>Forgot your password? <a href="{% url 'account_reset_password' %}">Reset it here</a>.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
