{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block fullcontent %}
<div class="ui middle aligned center aligned grid container">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui icon header">
        <i class="lock icon"></i>
        <div class="content">
          {% trans 'Password Reset' %}
        </div>
      </h1>
      {% if user.is_authenticated %}
      <div class="ui compact warning message">
        {% include "account/snippets/already_logged_in.html" %}
      </div>
      {% endif %}
      <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
      {% include "account/snippets/go_back.html" %}
    </div>
  </div>
</div>
{% endblock %}
