{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block fullcontent %}
<div class="ui middle aligned center aligned grid container">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui icon header">
        <i class="lock icon"></i>
        <div class="content">
          {% trans 'Password Reset' %}
        </div>
      </h1>
      {% if user.is_authenticated %}
      <div class="ui compact warning message">
        {% include "account/snippets/already_logged_in.html" %}
      </div>
      {% endif %}
      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      <form method="POST" action="{% url 'account_reset_password' %}" class="ui fluid large form {% if form.errors %}error{% endif %}">
        {% csrf_token %}
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            {{ form.email }}
          </div>
        </div>
        {% if form.errors %}
        <div class="ui tiny error message">
          <ul class="list">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li class="item">
              {{ error|escape }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="ui fluid large primary submit button" />
      </form>
      <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      {% if user.is_authenticated %}
      <div class="ui compact warning message">
        {% include "account/snippets/already_logged_in.html" %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
