{% extends "base.html" %}{% load i18n %}{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<style type="text/css">body{ background-color: #DADADA; }</style>

<div style="margin: auto;position:relative; width:500px; top: 50vh;transform: translateY(-50%);" class="ui middle aligned center aligned basic segment"

	<div class="ui column middle aligned very relaxed stackable grid">
		<div class="column">
			<div class="ui message">
				<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" class='ui form'  action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="ui fluid large orange submit button" type="submit">{% trans 'change password' %}</button>			
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
