{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block fullcontent %}
<div class="ui middle aligned center aligned grid container">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui header">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
      </h1>
      {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
      {% if form %}
      <form class="ui fluid large form {% if form.errors %}error{% endif %}" method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="field">
          <div class="ui left icon input">
            {% if 'E-mail' in field.label %}
            <i class="mail icon"></i>
            {% elif 'Password' in field.label %}
            <i class="key icon"></i>
            {% else %}
            <i class="user icon"></i>
            {% endif %}
            {{ field }}
          </div>
        </div>
        {% endfor %}
        {% if form.errors %}
        <div class="ui tiny error message">
          <ul class="list">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li class="item">
              {{ error|escape }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input class="ui fluid large primary submit button" type="submit" name="action" value="{% trans 'Change Password' %}" />
      </form>
      {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
