{% extends "base.html" %}{% load i18n %}{% load account %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block fullcontent %}


<style type="text/css">body{ background-color: #DADADA; }</style>

<div style="margin: auto;position:relative; width:500px; top: 50vh;transform: translateY(-50%);" class="ui middle aligned center aligned basic segment"

	<div class="ui column middle aligned very relaxed stackable grid">
		<div class="column">
			<div class="ui message">
				<h1>{% trans "Set Password" %}</h1>

                <form method="POST" class='ui form' action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="ui fluid large orange submit button" type="submit">{% trans 'Set Password' %}</button>
                </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
