{% extends "base.html" %}{% load i18n %}{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<style type="text/css">body{ background-color: #DADADA; }</style>

<div style="margin: auto;position:relative; width:500px; top: 50vh;transform: translateY(-50%);" class="ui middle aligned center aligned basic segment"

	<div class="ui column middle aligned very relaxed stackable grid">
		<div class="column">
			<div class="ui message">
				<h1>{% trans "Change Password" %}</h1>
                <p>
                    {% trans 'Your password is now changed.' %}
                    <br/>
                    <br/>
                    <a class="ui fluid large orange button" href='/'>{% trans 'Home page' %}</a>
                </p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
