{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}
{% block fullcontent %}
<div class="ui middle aligned center aligned grid container">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui icon header">
        <i class="ban icon"></i>
        <div class="content">
          {% trans "Sign Up Closed" %}
        </div>
      </h1>
      <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
      {% include "account/snippets/go_back.html" %}
    </div>
  </div>
</div>
{% endblock %}
