html {
    color: #333333;
    direction: ltr;
    font: 81.25%/1 arial,helvetica,sans-serif;
}

.google-login{
    float: left;
    width: 335px;
}

.account-login{
    float: right;
    width: 335px;
}

.sign-up{
    margin-top: 100px;
    text-align: center;
}

.error{
    color: #FF0000;
}

.input-box {
    
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
}

.gray-box {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    padding: 20px 25px 15px;
}


.sign-in {
    margin: auto auto;
}

.google-sign-in {
    margin: auto auto;
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    padding: 20px 25px 15px;
}


legend{
    font-weight: bold;
    text-align:center;
}

p label{
    -moz-user-select: none;
    display: block;
    font-weight: bold;
    color: #222222;
}

p input[type='text'], p input[type='password'], p input[type='email']{
    font-size: 15px;
    height: 32px;
    width: 100%;

    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding-left: 8px;
}


.button {
    -moz-transition: all 0.218s ease 0s;
    -moz-user-select: none;
    border-radius: 2px 2px 2px 2px;
    cursor: default;
    display: inline-block;
    font-weight: bold;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;

    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);

    font-size: 13px;
    height: 32px;

    line-height: 29px;
    vertical-align: bottom;

}


ul.menu {
    padding: 0px;
    margin: 0px;
    display: inline-block !important;
    list-style: none !important;
    margin-bottom: 30px;
}

ul.menu  li{
    padding: 0px;
    margin: 0px;
    display: inline-block !important;
    list-style: none !important;
}

p input[type='text'], p input[type='password'], p input[type='email'] {
font-size: 15px;
height: 32px;
width: 100%;
-moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-box-sizing: border-box;
background: none repeat scroll 0 0 #FFFFFF;
border-color: #C0C0C0 #D9D9D9 #D9D9D9;
border-radius: 1px 1px 1px 1px;
border-right: 1px solid #D9D9D9;
border-style: solid;
border-width: 1px;
display: inline-block;
margin: 0;
padding-left: 8px;
}
