{% if user.is_authenticated %}

<div class="ui teal inverted small fixed top menu" id='top-menu'>
  {% for plugin in plugins %}{% ifequal plugin.menu 0 %}
	<a class="item" id='menu-{{ plugin.anchor }}' href="#view-{{ plugin.anchor }}" onclick="{{ plugin.JsFunction }}" >
		{% if plugin.icon %}<i class="{{plugin.icon}} icon"></i>{% endif %}
		{{ plugin.label }}
	</a>
  {% endifequal %}{% endfor %}
 
  <div class="right item ui simple dropdown">
		<i class="user icon"></i> {{ user }} <i class="dropdown icon"></i>
		<div class="menu">
			<a class="item" href='/accounts/password/change/'><i class="key icon"></i> Change password</a>
			{% for plugin in plugins %}{% ifequal plugin.menu 1 %}
				<a class="item" href="#view-{{ plugin.anchor }}" onclick="{{ plugin.JsFunction }}" >
					{% if plugin.icon %}<i class="{{plugin.icon}} icon"></i>{% endif %}
					{{ plugin.label }}
				</a>
		  	{% endifequal %}{% endfor %}
			<a class="item" href='/accounts/logout/'><i class="sign out icon"></i> Logout</a>

		</div>
  </div>

</div>
<br/>
<br/>
{% endif %}
