{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}
{% block fullcontent %}
<div class="ui middle aligned center aligned grid container">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui icon header">
        <i class=" x red icon"></i>
        <div class="content">
          {% trans "Social Network Login Failure" %}
        </div>
      </h1>
      <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
    </div>
  </div>
</div>
{% endblock %}
