{% extends "base.html" %}

{% block js %}
    {% for staticfile in styles_files %}<link rel="stylesheet" type="text/css" href="/static/{{staticfile}}">{% endfor %}
	{% for staticfile in javascript_files %}<script type="text/javascript" src="/static/{{staticfile}}"></script>{% endfor %}
{% endblock %}

{% block sidebar %}
	{% if 'left' in active_menus or 'middle-left' in active_menus or 'bottom-left' in active_menus %}
		{% include "sidebar.html" %}
	{% endif %}
{% endblock %}

{% block content %}

<div id='app-container'  >
	<div class="ui very padded loading segment">
		<div class="ui fluid placeholder">
			<div class="image"></div>
		  <div class="image header">
			<div class="line"></div>
			<div class="line"></div>
		  </div>
		  <div class="paragraph">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		  </div>

			  <div class="paragraph">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		  </div>
		</div>
	</div>
</div>


<script type="text/javascript">
	{% if running_menu %}
		$(document).ready(function(){run_application('{{ running_menu.fullname }}');});
	{% endif %}
</script>

{% endblock %}