{% load jfutags %}{% load thumbnail %}
<!DOCTYPE html />
<html lang="en">
<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="/static/semantic-ui/semantic.css"></link>
		<link rel="stylesheet" type="text/css" href="/static/orquestra.css" /></link>
		<script type="text/javascript" src="/static/jquery.min.js"></script>
		<script type="text/javascript" src="/static/semantic-ui/semantic.min.js"></script>
		
		{% block head %}{% endblock %}
		{% block css %}{% endblock %}
		{% block js %}{% endblock %}
</head>
<body >
	{% block sidebar %}{% endblock %}

	<div class='pusher content-panel' >
		{% block header %}{% include "header.html" %}{% endblock %}		
		{% block body %}{% endblock %}
		{% block page_content %}{% endblock %}
		{% block content %}{% endblock %}
		{% block extra_body %}{% endblock %}
		{% block extra_scripts %}{% endblock %}
	</div>
</body>
</html>

