<div class="ui top fixed menu grid" id='top-menu'>

    {% if 'left' in active_menus %}
        <a class="ui item" id='sidebar-openerbtn'  data-transition="overlay" ><i class="sidebar icon large"></i></a>
    {% endif %}

    {% for menu in menu_plugins %}
        {% ifequal menu.menu_place 'top' %}
            {% if menu.submenus %}
                <div class="item ui simple dropdown">
                    <i class="ui {{ menu.icon }} icon"></i> {{ menu.label|safe }} <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item"  href="/app/{{ menu.uid }}/" >
                            <i class="ui {{ menu.icon }} icon"></i> {{ menu.label|safe }}
                        </a>
                        {% for submenu in menu.submenus %}
                            <a class="item"  href="/app/{{ submenu.uid }}/" >
                                {% if submenu.icon %}<i class="{{submenu.icon}} icon"></i>{% endif %}
                                {{ submenu.label|safe }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <a class="item" id="menu-{{ menu.anchor }}" href="/app/{{ menu.uid }}/" >
                    {% if menu.icon %}<i class="{{menu.icon}} icon"></i>{% endif %}
                    {{ menu.label|safe }}
                </a>
            {% endif %}
        {% endifequal %}
    {% endfor %}

    {% if user.is_authenticated %}
    {% load account %}
    {% user_display user as user_display %}
    <div class="right item ui simple dropdown" id='user-menu' >
        <i class="user icon label inverted circular yellow"></i>{{ user_display }}<i class="dropdown icon"></i>
        <div class="menu">
            {% for menu in menu_plugins %}{% ifequal menu.menu_place 'user' %}
            <a class="item"  href="/app/{{ menu.uid }}/" >
                {% if menu.icon %}<i class="{{menu.icon}} icon"></i>{% endif %}
                {{ menu.label|safe }}
            </a>
            {% endifequal %}{% endfor %}
            <a class="item" href='/accounts/logout/'><i class="sign out icon"></i> Logout</a>
        </div>
    </div>
    {% endif %}

</div>


<div style="padding-top: 42px;" ></div>

